DATABASE_URL="YOUR_CONNECTION_STRING"

PORT=YOUR_PORT

APP_URL=YOUR_APP_URL

BCRYPT_SALT_ROUNDS=10

JWT_ACCESS_SECRET=SECRET

JWT_REFRESH_SECRET=SECRET

JWT_ACCESS_EXPIRES_IN=DAY

JWT_REFRESH_EXPIRES_IN=DAY